<div class="w-75" style="margin-left:12.5%">
    <div class="header">
        <h1 style="color: aqua;">DMCA</h1>
    </div>
    <div class="content">
        <p class="text-white">
            In accordance with the Digital Millennium Copyright Act of 1998 (the text of which may be found on the U.S. Copyright Office website at (<span><a href="http://lcweb.loc.gov/copyright/">http://lcweb.loc.gov/copyright/</a></span>), COE TV will respond expeditiously to claims of copyright infringement that are reported to COE TV's designated copyright agent identified below. 
            Please also note that under Section 512(f) any person who knowingly materially misrepresents that material or activity is infringing may be subject to liability. 
            COE TV reserves the right at its sole and entire discretion, to remove content and terminate the accounts of COE TV users who infringe, or appear to infringe, the intellectual property or other rights of third parties.
            <br><br>
            If you believe that your copywriten work has been copied in a way that constitutes copyright infringement, please provide the copyright agent the following information:
            <br><br>
            1. A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
            <br>
            2. Identification of the copyright work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at the Website.
            <br>
            3. Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit COE TV to locate the material.
            <br>
            4. Information reasonably sufficient to permit COE TV to contact the complaining party, including a name, address, telephone number and, if available, an email address at which the complaining party may be contacted.
            <br>
            5. A statement that the complaining party has a good-faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent or the law.
            <br>
            6. A statement that the information in the notification is accurate and, under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
            <br><br>
            All claims of copyright infringement on or regarding this Website should be delivered to COE TV's designated copyright agent at the following address:
            
            Copyright Contact Information:
            Please contact us at ccpoe9@gmail.com
            
            We apologize for any kind of misuse of our service and promise to do our best to find and terminate abusive files.</p>
    </div>
</div>

