<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Login</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label" >Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="password">
                        </div>
                        <button type="button" class="btn btn-dark" (click)="login()">Login</button>
                        <div class="d-flex mb-0 mt-2" style="justify-content: space-between;">
                            <div class="links">
                                <a href="register" style="text-decoration:none;" class="text-dark link"> Create Account </a>
                            </div>
                            <div class="links">
                                <a href="forgot-password" style="text-decoration:none;" class="text-dark link"> Forgot Password? </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
