<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Forgot Password</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email">
                        </div> 
                        <button type="button" class="btn btn-dark" (click)="forgotPassword()">Send Link</button>
                        <div class="d-flex mb-0 mt-2" style="justify-content: space-between;">
                            <div class="links">
                                <a href="login" style="text-decoration:none;" class="text-dark link"> Back </a>
                            </div>
                        </div>
                      </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>