<div class="mt-2 w-75 mx-auto">
    <div class="about-us">
        <h3 class="text-white fw-bold mb-4">ABOUT US : </h3>
        <h6 class="text-white"> - My name is Christian Okey-Ezeh.</h6>
        <h6 class="text-white"> - I chose this project because i've always wondered what went into building a video streaming site.</h6>
        <h6 class="text-white"> - The techonologies used were what best fit my needs. Angular for front-end with firebase for authentication, Node.js because of it's lightweight structure and simplicity and mysql for the database.</h6>
        <h6 class="text-white"> - Also made use of the videojs javascript package for video players due to it's support for both live and vod content.</h6>
        <h6 class="text-white"> - Stored all video content in wasabi storage, while the live streams were pulled from a iptv.org github page (All legal).</h6>
        <h6 class="text-white"> - Deployed backend and database in a dockerize container to digital ocean and the front end to netlify.</h6>
    </div>
</div>

