.dropdown-menu :active {
    background-color: lightgrey;
}

.nav-item > a:hover{
    transform:scale(1.15);
    color: aqua;
}
.navbar-brand:hover{
    transform:scale(1.15);
    svg{
        fill: aqua
    }
}

.nav-item > a{
    transition:.3s;
}
.navbar-brand{
    transition:.3s;
}

.navbar-nav > li > a:hover{
    color:aqua;
    svg{
        fill:aqua;
    }
}
.navbar-nav > li > a{
    color:white;

}

.btn {
    color: white;
    outline-color: white;
}