.dropdown-menu :active {
    background-color: lightgrey;
}

.navbar-brand:hover{
    transform:scale(1.15);
    svg{
        fill: aqua
    }
}
.navbar-brand{
    transition:.3s;
}

.nav-item > a:hover{
    transform:scale(1.15);
    color: aqua;
}

.nav-item > a{
    transition:.3s;
}

@media (max-width:990px) {
    .nav-item{
        margin: 0 auto;
    }
    form{
        margin-left: 25%;
        margin-right: 25%;
    }
    .dropdown-container {
        position: relative;
      }
      
      .dropdown-menu {
        position: absolute;
        top: 100%; /* Bottom of button */
        right: 30%;/* More to the left */
      }
}


.navbar-toggler{
    border:none;
}

.navbar-toggler:hover{
    .navbar-toggler-icon{
        transition:.3s;
        transform:scale(1.15);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='aqua' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav > li > a:hover{
    color:aqua;
    svg{
        fill:aqua;
    }
    cursor: pointer;
}
.navbar-nav > li > a{
    color:white;

}

.btn{
    color:white;
    background-color: black;
    border-color: white;
}

.btn:active{
    background-color: white;
}

.btn:hover{
    color: aqua;
    border-color: aqua;
}


.btn-selected{
    background-color: aqua;
    color: black;
}

.form-control {
    color: white;
    background-color: black;
    border-color: white;
    outline: none;
}

.form-control:hover {
    color: white;
    background-color: black;
    border-color: aqua;
    outline: none;
}
.form-control:focus {
    color: white;
    background-color: black;
    border-color: aqua;
    outline: none;
}
