<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-brand" id="brand-logo">
        <a href="/home">
          <img src="/assets/images/favicon.png" width="50" height="40" alt="">
        </a>
      </div>
      <!--*ngIf="isAuthenticated"-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="user$ | async as user">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link fw-bold" [ngStyle]="{'color': (currentPage=='/movies') ? 'aqua': ''}" aria-current="page" href="/movies">MOVIES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" [ngStyle]="{'color': (currentPage=='/tv') ? 'aqua': ''}" aria-current="page" href="/tv">TV SHOWS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" [ngStyle]="{'color': (currentPage=='/live') ? 'aqua': ''}" aria-current="page" href="/live">LIVE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" [ngStyle]="{'color': (currentPage=='/DMCA') ? 'aqua': ''}" aria-current="page" href="/dmca">DMCA</a>
          </li>
          <li class="nav-item" *ngIf="user.uid==adminUID">
            <a class="nav-link fw-bold" [ngStyle]="{'color': (currentPage=='/upload') ? 'aqua': ''}" aria-current="page" href="/upload">UPLOAD</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchVal" [(ngModel)]="searchVal">
          <button class="btn" type="submit"(click)="searchAction()">
            <div class='d-flex justify-content-center'>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </div>
          </button>
        </form>
        <ul class="navbar-nav d-flex">
          <li class="dropdown d-flex justify-content-center dropdown-container">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                 <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item">{{user.email}}</a>
              <li><hr class="dropdown-divider"></li>
              <a class="dropdown-item" (click)="signOut()">Sign Out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
