<div class="mt-2 w-75 mx-auto">
    <div class="checklist">
        <h3 class="text-white fw-bold mb-4">CHECKLIST : </h3>
        <h6 class="text-white"> - Ajax & Database Usage : Used in reading, posting and deleting movie and tv show data in the movies, tv shows and upload pages respectively. (Done with Node.js and Mysql)</h6>
        <h6 class="text-white"> - Theme : Aqua and Black theme.</h6>
        <h6 class="text-white"> - Libraries used : Made use of bootstrap Libraries.</h6>
        <h6 class="text-white"> - Javascript: Used node.js for the backend.</h6>
        <h6 class="text-white"> - Membership Area: Users logged in can upload content to the website in the upload page.</h6>
    </div>
</div>

