<!--<p>movies works!</p>-->
<div class="container-bg">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Big_buck_bunny_poster_big.jpg/1200px-Big_buck_bunny_poster_big.jpg);">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Big_buck_bunny_poster_big.jpg/1200px-Big_buck_bunny_poster_big.jpg" class="carousel-thumbnail d-block w-100"  alt="...">
          </div>
          <div class="carousel-item" style="background-image: url(https://flxt.tmsimg.com/assets/p8553063_b_v13_ax.jpg);">
            <img src="https://flxt.tmsimg.com/assets/p8553063_b_v13_ax.jpg" class="carousel-thumbnail d-block w-100"  alt="...">
          </div>
          <div class="carousel-item active" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Big_buck_bunny_poster_big.jpg/1200px-Big_buck_bunny_poster_big.jpg);">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Big_buck_bunny_poster_big.jpg/1200px-Big_buck_bunny_poster_big.jpg" class="carousel-thumbnail d-block w-100"  alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container mt-3">
      <div class="header-category">
        <div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{sortBySelected}}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="changeSortBy(sortByUnselected)">{{sortByUnselected}}</a>
          </div>
        </div>
        <div class="btn-group ml-3">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            GENRE : {{sortByGenre}}
          </button>
          <div class="dropdown-menu">
              <a class="dropdown-item" *ngIf="sortByGenre != 'All'" (click)="changeGenre('All')">All</a>
            <div *ngFor="let genre of genres">
              <a class="dropdown-item" *ngIf="sortByGenre != genre.Name" (click)="changeGenre(genre.Name)">{{genre.Name}}</a>
            </div>
          </div>
        </div>
      </div>
        <div class="row mt-5" style="margin-left: 3.5rem;">
                <div class="card mb-4" style="min-width: 14rem; max-width: 14rem;" *ngFor="let movie of movies" (click)="GetMovie(movie)">
                    <div class="card-image">
                      <img class="card-img-top rounded text-white" src="{{movie.Thumbnail}}" alt="Image not found..">
                      <div class="image-overlay">
                        <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                        </svg>
                      </div>
                    </div>
                    <div class="card-body bg">
                        <p class="card-title text-white">{{movie.Name}}</p>
                    </div>
                  </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination" *ngIf="totalPages!=0">
          <li class="page-item" [ngClass]="{'disabled': (currentPage-1)<=0 }">
            <a class="page-link" (click)="getNextPage(currentPage-1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li> 
          <div *ngFor="let number of pageNumbers">
          <li class="page-item" *ngIf="number>=1 && number <= totalPages"><a class="page-link" [ngStyle]="{'color': (currentPage==number) ? 'white': ''}" (click)="getNextPage(number)">{{number}}</a></li>
          </div>
          <li class="page-item" [ngClass]="{'disabled': (currentPage+1)>totalPages}">
            <a class="page-link" (click)="getNextPage(currentPage+1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
      <h6 class="text-white mb-4" *ngIf="totalPages<=0">NO RECORDS FOUND...</h6>
    </div>
</div>


<!--<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Big_buck_bunny_poster_big.jpg/1280px-Big_buck_bunny_poster_big.jpg">-->
<!--<video muted autoplay  width="270" height="220" id="video1" controls>
    <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4"/>
</video>-->


