<div class="mt-2 w-75 mx-auto">
    <div class="site-description">
        <h3 class="text-white fw-bold mb-4">SITE DESCRIPTION : </h3>
        <h6 class="text-white"> - The video streaming site is to be used by anyone who wants to watch a movie, tv-show or live tv.</h6>
        <h6 class="text-white"> - Anyone can view the videos but only  members can delete and edit content. Uploading is restricted to owner.</h6>
        <h6 class="text-white"> - The main purpose is entertainment so the problem being solved is boredom.</h6>
    </div>
</div>

