<div class="player-container d-flex justify-content-center" style="background-color: black;">
  <div class="player-div w-50 h-50">
    <app-videojs [options]="{ fluid : true, aspectRatio : '16:9', playbackRates: [0.5, 1, 1.5, 2] , autoplay: false, muted: false, controls: true , sources: [{ src: 'http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4', type: 'video/mp4' }]}"></app-videojs>
  </div>
</div>
<div class="player-info d-flex mt-3 mb-3">
    <div class="video-img" style="margin-left: 12.5%;">
      <div class="" style="min-width: 10rem; max-width: 10rem;">
        <div class="card-image">
          <img class="card-img-top rounded" src="https://i.pinimg.com/474x/4c/5a/4d/4c5a4dddbe33d4b3974f87ef90489a90.jpg" alt="...">
        </div>
    </div>
    </div>
    <div class="video-info ml-4">
      <h3 class="text-white fw-bold">{{video.Name}}</h3>
      <h5 class="text-white"*ngIf="currentEpisode">{{currentEpisode.Name}}</h5>
      <h6 style="width:65%; color: rgb(97, 147, 168);"><i>{{video.Desc}}</i></h6>
      <h6 class="text-white">Genre : {{video.Genre}}</h6>
    </div>
</div>
<div class="show-info text-white" style="margin-left: 12.5%;" *ngIf="type=='s'">
  <div class="btn-group">
    <button type="button" class="btn" [ngClass]="{'dropdown-toggle': this.totalSeasons>1 } "data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      SEASON {{currentSeason}}
    </button>
    <div class="dropdown-menu" *ngIf="this.totalSeasons>1">
      <div *ngFor="let season of seasons">
        <a class="dropdown-item" *ngIf="season!=currentSeason" (click)="changeSeason(season)">SEASON {{season}}</a>
      </div>
    </div>
  </div>
  <div class="row mt-3" style="margin-left: 12.5%; margin-right: 12.5%;">
    <div class="col-lg-2 col-sm-6 col-xs-12" *ngFor="let episode of episodes">
      <button type="button" class="btn btn-info btn-block mb-3" (click)="changeEpisode(episode)">Episode {{episode.Episode}}</button>
    </div>
</div>
</div>
<div class="more-like mt-4">
  <h2 class="text-white" style="margin-left: 12.5%;">More Like This : </h2>
  <div class="row mt-3" style="margin-left: 12.5%;">
    <div class="card-deck">
        <div *ngFor="let item of recommended">
          <a href="/video?t={{type}}&v={{item.URL}}">
            <div class="card mb-4" style="min-width: 12rem; max-width: 12rem;">
              <div class="card-image">
                <img class="card-img-top rounded" src="https://i.pinimg.com/474x/4c/5a/4d/4c5a4dddbe33d4b3974f87ef90489a90.jpg" alt="...">
                <div class="image-overlay">
                  <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                  </svg>
                </div>
              </div>
              <div class="card-body">
                  <p class="card-title text-white">{{item.Name}}</p>
              </div>
          </div>
          </a>
        </div>
    </div>
</div>
</div>


  