<div class="player-container d-flex justify-content-center" style="background-color: black;">
  <div class="player-div w-50" style="min-width: 405px;" *ngIf="isPlayed">
    <app-videojs (isEnded)="hasEnded($event)"[options]="{ fluid : true, aspectRatio : '16:9', autoplay: true, muted: false, controls: true , sources: [{ src: source, type: 'video/mp4' }]}"></app-videojs>
  </div>
  <div div="trailer-div" *ngIf="isTrailer">
    <corp-youtube-player [videoId]="Trailer" [playerConfig]="{controls: 1, mute: 0, autoplay: 0}" [width]="screenWidth" [height]="screenHeight"></corp-youtube-player>
  </div>
</div>
<div class="player-info d-flex mt-3 mb-3">
    <div class="video-img" style="margin-left: 12.5%;">
      <div class="" style="min-width: 10rem; max-width: 10rem;">
        <div class="card-image">
          <img class="card-img-top rounded text-white" src="{{Thumbnail}}" alt="Image not found..">
        </div>
    </div>
    </div>
    <div class="video-info ml-4 w-50">
      <h3 class="text-white fw-bold">{{Name}}</h3>
      <h5 class="text-white"*ngIf="currentEpisode">{{currentEpisode.Name}}</h5>
      <h6 class="mb-4 text-white">{{Desc}}</h6>
      <div>
        <button type="button" class="btn genre-btn mb-1 mr-1" *ngFor="let genre of genresArr" (click)="getAllLikeThis(genre)">{{genre}}</button>
      </div>
      <button type="button" class="btn mt-3 icon-buttons" (click)="playAction()" [ngStyle]="{'pointer-events': isPlayed ? 'none': ''}" *ngIf="type == 'm' || (type == 's' && episodes.length > 0)">{{playText}} 
        <svg *ngIf="!isPlayed" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
        </svg>
        <svg  *ngIf="isPlayed" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
      </svg></button>
      <button type="button" class="btn mt-3 ml-3 icon-buttons" (click)="trailerAction()"><div class="">TRAILER</div>
        </button>
    </div>
</div>
<div class="show-info text-white" style="margin-left: 12.5%;" *ngIf="type=='s'">
  <div class="btn-group">
    <button type="button" class="btn" [ngClass]="{'dropdown-toggle': this.totalSeasons>1 } "data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      SEASON {{currentSeason}}
    </button>
    <div class="dropdown-menu" *ngIf="this.totalSeasons>1">
      <div *ngFor="let season of seasons">
        <a class="dropdown-item" *ngIf="season!=currentSeason" (click)="changeSeason(season)">SEASON {{season}}</a>
      </div>
    </div>
  </div>
  <div class="row mt-3" style="margin-left: 12.5%; margin-right: 12.5%;">
    <div class="col-lg-2 col-sm-6 col-xs-12" *ngFor="let episode of episodes">
      <button type="button" class="btn btn-block mb-3" [ngClass]="{'btn-selected': currentEpisode == episode }" (click)="changeEpisode(episode)">EPISODE {{episode.Episode}}</button>
    </div>
</div>
</div>
<div class="more-like mt-4">
  <h2 class="text-white" style="margin-left: 12.5%;"><i>More Like This : </i></h2>
  <div class="row mt-2" style="margin-left: 12%;">
    <div class="card mb-4" style="min-width: 12rem; max-width: 12rem;" *ngFor="let item of recommended">
      <a href="/video?t={{type}}&v={{item.URL}}">
        <div class="card-image">
          <img class="card-img-top rounded text-white" style="min-height: 16rem; max-height: 16rem;" src="{{item.Thumbnail}}" alt="Image not found..">
          <div class="image-overlay">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
            </svg>
          </div>
        </div>
        <div class="card-body bg">
            <p class="card-title text-white">{{item.Name}}</p>
        </div>
      </a>
    </div>
  </div>
</div>

<!--<a href="/video?t={{type}}&v={{item.URL}}">-->