<div class="table-header">
    <div class="btn-group">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{currentContentType}}S
        </button>
        <div class="dropdown-menu">
            <div *ngFor="let type of ContentTypes">
                <a class="dropdown-item" *ngIf="type!=currentContentType" (click)="changeContentType(type)">{{type}}S</a>
            </div>
        </div> 
    </div>
    <button *ngIf="currentContentType != ContentTypes[2]" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addItemModal" (click)="resetPostItems()">ADD {{currentContentType}}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill mb-1 mt-1 ml-1" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
    </button>
    <button *ngIf="currentContentType == ContentTypes[2]" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#addChannelModal" (click)="resetPostItems()">ADD {{currentContentType}}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill mb-1 mt-1 ml-1" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg>
  </button>
</div>
<div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ADD {{currentContentType}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="error-text"*ngIf="errorMessage">
          <p><i>{{errorMessage}}</i></p>
        </div>
        <form #addForm>
          <div class="row">
            <div class="col-12 mb-3">
              <label for="FormControlInput1" class="form-label">Name</label>
              <input type="text" class="form-control" id="FormControlInput1" placeholder="Name" name="postItemName" [(ngModel)]="postItemName" required>
            </div>
            <div class="col-12 mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="postItemDesc" [(ngModel)]="postItemDesc"></textarea>
            </div>
            <div class="col-12 mb-3">
              <label for="genre-input">Genre(s)</label>
              <div class="row ml-2 mt-2" style="margin-left: 1.5%;">
                <div class="form-check col-3" *ngFor="let genre of genres">
                  <input class="form-check-input" type="checkbox" value="{{genre.Name}}" id="defaultCheck{{genre.id}}" [checked]="isChecked[genre.id-1]" (change)="changeChecked(genre.id)">
                  <label class="form-check-label" for="defaultCheck1">
                    {{genre.Name}}
                  </label>
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <label for="FormControlInput1" class="form-label">Rating</label>
              <input type="number" step=".1" class="form-control" id="FormControlInput2" placeholder="1" name="postItemRating" [(ngModel)]="postItemRating" required>
            </div>
            <div class="col-12 mb-3">
              <label for="FormControlInput1" class="form-label">Thumbnail Link</label>
              <input type="url" class="form-control" id="FormControlInput3" name="postItemThumbnail" [(ngModel)]="postItemThumbnail" required>
            </div>
            <div class="col-12 mb-3">
              <label for="FormControlInput1" class="form-label">Trailer Link</label>
              <input type="url" class="form-control" id="FormControlInput3" name="postItemTrailer" [(ngModel)]="postItemTrailer" required>
            </div>
            <div class="col-12 mb-3" *ngIf="currentContentType=='MOVIE'">
              <label for="FormControlInput1" class="form-label">Video Link</label>
              <input type="url" class="form-control" id="FormControlInput3" name="postItemVideo" [(ngModel)]="postItemVideo" required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" #closeButton data-bs-dismiss="modal">CLOSE</button>
        <button type="button" class="btn" id="addButton" (click)="postItem(currentContentType)">ADD</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">EDIT {{currentContentType}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="error-text"*ngIf="errorMessage">
          <p><i>{{errorMessage}}</i></p>
        </div>
        <form #editForm>
          <div class="row">
            <div class="col-12 mb-3">
              <label for="FormControlInput1" class="form-label">Name</label>
              <input type="text" class="form-control" id="FormControlInput1" placeholder="Name" name="putItemName" [(ngModel)]="putItemName" required>
            </div>
            <div class="col-12 mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="putItemDesc" [(ngModel)]="putItemDesc"></textarea>
            </div>
            <div class="col-12 mb-3">
              <label for="genre-input">Genre(s)</label>
              <div class="row ml-2 mt-2" style="margin-left: 1.5%;">
                <div class="form-check col-3" *ngFor="let genre of genres">
                  <input class="form-check-input" type="checkbox" value="{{genre.Name}}" id="defaultCheck{{genre.id}}" [checked]="isChecked[genre.id-1]" (change)="changeChecked(genre.id)">
                  <label class="form-check-label" for="defaultCheck1">
                    {{genre.Name}}
                  </label>
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
              <label for="FormControlInput1" class="form-label">Rating</label>
              <input type="number" step=".1" class="form-control" id="FormControlInput2" placeholder="1" name="putItemRating" [(ngModel)]="putItemRating" required>
            </div>
            <div class="col-12 mb-3">
              <label for="FormControlInput1" class="form-label">Thumbnail Link</label>
              <input type="url" class="form-control" id="FormControlInput3" name="putItemThumbnail" [(ngModel)]="putItemThumbnail" required>
            </div>
            <div class="col-12 mb-3">
              <label for="FormControlInput1" class="form-label">Trailer Link</label>
              <input type="url" class="form-control" id="FormControlInput3" name="putItemTrailer" [(ngModel)]="putItemTrailer" required>
            </div>
            <div class="col-12 mb-3" *ngIf="currentContentType=='MOVIE'">
              <label for="FormControlInput1" class="form-label">Video Link</label>
              <input type="url" class="form-control" id="FormControlInput3" name="putItemVideo" [(ngModel)]="putItemVideo" required>
            </div>
            <div class="error-text"*ngIf="errorMessage">
              <p><i>{{errorMessage}}</i></p>
            </div>
          </div>
        </form>
        <div class="table-content mt-4" *ngIf="currentContentType=='TV SHOW'">
          <div class="table-header">
            <div class="btn-group mb-2">
              <button type="button" class="btn" [ngClass]="{'dropdown-toggle': this.totalSeasons>1, 'disabled' : this.totalSeasons<=1 }" id="episodesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SEASON {{editCurrentSeason}}
              </button>
              <div class="dropdown-menu">
                  <div *ngFor="let season of seasons">
                      <a class="dropdown-item" *ngIf="season != editCurrentSeason" (click)="changeSeason(season)">SEASON {{season}}</a>
                  </div>
              </div> 
              <button type="button" class="btn ml-2" id="episodesAdd" (click)="onAddEpisode()">ADD EPISODE
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill mb-1 mt-1 ml-1" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
              </button>
            </div>
            <div class="mb-1" *ngIf="editEpisodeMode">
                <button type="button" class="btn" (click)="editEpisodeMode=false">CANCEL</button>
                <button type="button" class="btn ml-2" (click)="PutEpisode()">UPDATE</button>
            </div>
          </div>
          <div class="post-episode row ml-3 mr-3 mb-3" *ngIf="addEpisodeMode">
            <div class="col-2 mb-3">
              <label for="FormControlInput1" class="form-label">Season</label>
              <input type="number" step="1" class="form-control" id="FormControlInput2" placeholder="1" name="postItemEpisodeSeason" [(ngModel)]="postItemEpisodeSeason" required>
            </div>
            <div class="col-12 mb-3">
              <label for="FormControlInput1" class="form-label">Name</label>
              <input type="text" class="form-control" id="FormControlInput1" placeholder="Name" name="postItemEpisodeName" [(ngModel)]="postItemEpisodeName" required>
            </div>
            <div class="col-12 mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Description</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="postItemEpisodeDesc" [(ngModel)]="postItemEpisodeDesc"></textarea>
            </div>
            <div class="col-12 mb-3">
              <label for="FormControlInput1" class="form-label">Video Link</label>
              <input type="url" class="form-control" id="FormControlInput3" name="postItemEpisodeVideo" [(ngModel)]="postItemEpisodeVideo"required>
            </div>
            <div class="col-12 d-flex justify-content-end">
              <button type="button" class="btn" (click)="cancelPostEpisode()">CANCEL</button>
              <button type="button" class="btn ml-2" (click)="PostEpisode()">POST</button>
            </div>
          </div>
          <table class="table" id="episodeTable">
              <thead>
                <tr>
                  <th scope="col">EPISODE</th>
                  <th scope="col">NAME</th>
                  <th scope="col">DESC</th>
                  <th scope="col">VIDEO</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let episode of episodes">
                  <th scope="row"><span>{{episode.Episode}}</span>
                  </th>
                  <td><span *ngIf="!editEpisodeMode || editEpisodeMode && episode.id!=editEpisode">{{episode.Name}}</span>
                    <input *ngIf="editEpisodeMode && episode.id==editEpisode" type="text" class="form-control" id="FormControlInput1" name="putItemEpisodeName" [(ngModel)]="putItemEpisodeName" required>
                  </td>
                  <td><span *ngIf="!editEpisodeMode || editEpisodeMode && episode.id!=editEpisode">{{episode.Desc}}</span>
                    <input *ngIf="editEpisodeMode && episode.id==editEpisode" type="text" class="form-control" id="FormControlInput1" name="putItemEpisodeDesc" [(ngModel)]="putItemEpisodeDesc" required>
                  </td>
                  <td><span *ngIf="!editEpisodeMode || editEpisodeMode && episode.id!=editEpisode">{{episode.Video}}</span>
                    <input *ngIf="editEpisodeMode && episode.id==editEpisode" type="text" class="form-control" id="FormControlInput1" name="putItemEpisodeVideo" [(ngModel)]="putItemEpisodeVideo" required>
                  </td>
                  <td><div class="icon-buttons-edit" (click)="setEdit(episode)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                  </div></td>
                  <td><div class="icon-buttons-delete" (click)="DeleteEpisode(episode)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                  </div></td>
                </tr>
              </tbody>
            </table>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" #discardButton data-bs-dismiss="modal">DISCARD</button>
        <button type="button" class="btn" id="addButton" (click)="putItem(currentContentType)">SAVE</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DELETE {{currentContentType}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ARE YOU SURE YOU WANT TO DELETE {{deleteItemName}}?   
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" #cancelButton data-bs-dismiss="modal">CANCEL</button>
        <button type="button" class="btn" id="deletebutton" (click)="deleteItem(currentContentType)">DELETE</button>
      </div>
    </div>
  </div>
</div>
<div class="table-content" *ngIf="currentContentType=='MOVIE'">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">GENRE</th>
            <th scope="col">THUMBNAIL</th>
            <th scope="col">VIDEO</th>
            <th scope="col">TRAILER</th>
            <th scope="col">DESC</th>
            <th scope="col">RATING</th>
            <th scope="col">URL</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movies">
            <th scope="row">{{movie.id}}</th>
            <td>{{movie.Name}}</td>
            <td>{{movie.Genre}}</td>
            <td>{{movie.Thumbnail}}</td>
            <td>{{movie.Video}}</td>
            <td>{{movie.Trailer}}</td>
            <td>{{movie.Desc}}</td>
            <td>{{movie.Rating}}</td>
            <td>{{movie.URL}}</td>
            <td><div class="icon-buttons-edit" data-bs-toggle="modal" data-bs-target="#editItemModal" (click)="setPutItems(movie)">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
            </div></td>
            <td><div class="icon-buttons-delete" data-bs-toggle="modal" data-bs-target="#deleteItemModal" (click)="setDeleteItem(movie)">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg>
            </div></td>
          </tr>
        </tbody>
      </table>
</div>
<div class="table-content" *ngIf="currentContentType=='TV SHOW'">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">GENRE</th>
            <th scope="col">THUMBNAIL</th>
            <th scope="col">TRAILER</th>
            <th scope="col">DESC</th>
            <th scope="col">RATING</th>
            <th scope="col">URL</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let show of shows">
            <th scope="row">{{show.id}}</th>
            <td>{{show.Name}}</td>
            <td>{{show.Genre}}</td>
            <td>{{show.Thumbnail}}</td>
            <td>{{show.Trailer}}</td>
            <td>{{show.Desc}}</td>
            <td>{{show.Rating}}</td>
            <td>{{show.URL}}</td>
            <td><div class="icon-buttons-edit" data-bs-toggle="modal" data-bs-target="#editItemModal" (click)="setPutItems(show)">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
            </div></td>
            <td><div class="icon-buttons-delete" data-bs-toggle="modal" data-bs-target="#deleteItemModal" (click)="setDeleteItem(show)">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg>
            </div></td>
          </tr>
        </tbody>
      </table>
</div>
<div class="table-content" *ngIf="currentContentType=='CHANNEL'">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NAME</th>
          <th scope="col">EPGID</th>
          <th scope="col">THUMBNAIL</th>
          <th scope="col">SOURCE</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let channel of channels">
          <th scope="row">{{channel.id}}</th>
          <td>{{channel.Name}}</td>
          <td>{{channel.EPGID}}</td>
          <td>{{channel.Thumbnail}}</td>
          <td>{{channel.Source}}</td>
          <td><div class="icon-buttons-edit" data-bs-toggle="modal" data-bs-target="#editChannelModal" (click)="setChannelPutItems(channel)">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
          </div></td>
          <td><div class="icon-buttons-delete" data-bs-toggle="modal" data-bs-target="#deleteItemModal" (click)="setDeleteItem(channel)">
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
            </svg>
          </div></td>
        </tr>
      </tbody>
    </table>
</div>
<div class="modal fade" id="addChannelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ADD {{currentContentType}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="error-text"*ngIf="errorMessage">
          <p><i>{{errorMessage}}</i></p>
        </div>
        <form #addForm>
          <div class="row">
            <div class="col-12 mb-3">
              <label for="FormControlInput1" class="form-label">Name</label>
              <input type="text" class="form-control" id="FormControlInput1" name="postChannelName" [(ngModel)]="postChannelName" required>
            </div>
            <div class="col-12 mb-3">
              <label for="FormControlInput1" class="form-label">EPGID</label>
              <input type="text" class="form-control" id="FormControlInput1" name="postChannelEPGID" [(ngModel)]="postChannelEPGID" required>
            </div>
            <div class="col-12 mb-3">
              <label for="FormControlInput1" class="form-label">Thumbnail</label>
              <input type="url" class="form-control" id="FormControlInput3" name="postChannelThumbnail" [(ngModel)]="postChannelThumbnail" required>
            </div>
            <div class="col-12 mb-3">
              <label for="FormControlInput1" class="form-label">Source</label>
              <input type="url" class="form-control" id="FormControlInput3" name="postChannelSource" [(ngModel)]="postChannelSource" required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" #closeButton2 data-bs-dismiss="modal">CLOSE</button>
        <button type="button" class="btn"  (click)="postItem(currentContentType)">ADD</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editChannelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">EDIT {{currentContentType}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="error-text"*ngIf="errorMessage">
          <p><i>{{errorMessage}}</i></p>
        </div>
        <form #editForm>
          <div class="row">
            <div class="col-12 mb-3">
              <label for="FormControlInput1" class="form-label">Name</label>
              <input type="text" class="form-control" id="FormControlInput1" name="putChannelName" [(ngModel)]="putChannelName" required>
            </div>
            <div class="col-12 mb-3">
              <label for="FormControlInput1" class="form-label">EPGID</label>
              <input type="text" class="form-control" id="FormControlInput1" name="putChannelEPGID" [(ngModel)]="putChannelEPGID" required>
            </div>
            <div class="col-12 mb-3">
              <label for="FormControlInput1" class="form-label">Thumbnail</label>
              <input type="url" class="form-control" id="FormControlInput3" name="putChannelThumbnail" [(ngModel)]="putChannelThumbnail" required>
            </div>
            <div class="col-12 mb-3">
              <label for="FormControlInput1" class="form-label">Source</label>
              <input type="url" class="form-control" id="FormControlInput3" name="putChannelSource" [(ngModel)]="putChannelSource" required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" #discardButton2 data-bs-dismiss="modal">DISCARD</button>
        <button type="button" class="btn"  (click)="putItem(currentContentType)">SAVE</button>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="currentContentType=='MOVIE'">
  <nav aria-label="Page navigation example">
    <ul class="pagination" *ngIf="totalMoviePages!=0">
      <li class="page-item" [ngClass]="{'disabled': (currentPage-1)<=0 }">
        <a class="page-link" (click)="getNextPage(currentPage-1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li> 
      <div *ngFor="let number of pageNumbers">
      <li class="page-item" *ngIf="number>=1 && number <= totalMoviePages"><a class="page-link" [ngStyle]="{'color': (currentPage==number) ? 'white': ''}" (click)="getNextPage(number)">{{number}}</a></li>
      </div>
      <li class="page-item" [ngClass]="{'disabled': (currentPage+1)>totalMoviePages}">
        <a class="page-link" (click)="getNextPage(currentPage+1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
  <h6 class="text-white mb-4" *ngIf="totalMoviePages<=0">NO RECORDS FOUND...</h6>
</div>
<div class="d-flex justify-content-center" *ngIf="currentContentType=='TV SHOW'">
  <nav aria-label="Page navigation example">
    <ul class="pagination" *ngIf="totalShowPages!=0">
      <li class="page-item" [ngClass]="{'disabled': (currentPage-1)<=0 }">
        <a class="page-link" (click)="getNextPage(currentPage-1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li> 
      <div *ngFor="let number of pageNumbers">
      <li class="page-item" *ngIf="number>=1 && number <= totalShowPages"><a class="page-link" [ngStyle]="{'color': (currentPage==number) ? 'white': ''}" (click)="getNextPage(number)">{{number}}</a></li>
      </div>
      <li class="page-item" [ngClass]="{'disabled': (currentPage+1)>totalShowPages}">
        <a class="page-link" (click)="getNextPage(currentPage+1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
  <h6 class="text-white mb-4" *ngIf="totalShowPages<=0">NO RECORDS FOUND...</h6>
</div>

