.table{
    color : white;
    border: 3px solid white;
    width: 95%;
    margin-left: 2.5%;
}
.table-header{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
tbody > tr:hover{
    background-color: aqua;
    color: black;
    cursor: pointer;
}

.icon-buttons-edit :hover{
    cursor: pointer;
    fill:blue;
}
.icon-buttons-delete :hover{
    cursor: pointer;
    fill:red;
}

.btn{
    color:aqua;
    background-color: black;
    border-color: aqua;
}

.btn:active{
    color:aqua;
    background-color: black;
    border-color: aqua;
}

.btn:hover{
    background-color: aqua;
    color: black;
}

#deletebutton{
    color:red;
    background-color: black;
    border-color: red;
}
#deletebutton:hover{
    background-color: red;
    color:black;
}

#addButton{
    color:greenyellow;
    background-color: black;
    border-color: greenyellow;
}
#addButton:hover{
    background-color: greenyellow;
    color:black;
}

.error-text{
    color : red;
}