table, th, td {
    color:white;
    border: 1px solid aqua;
    table-layout: fixed;
    background-color: black;

}
table{
    border-collapse: separate; /* Don't collapse */
    border-spacing: 0;
}

th, td{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


table thead th{
    position: sticky;
    top: 0;
    background-color: black;
}

.live-content{
    margin-left: 5%;
    width: 90%;
    height:250px;
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: aqua; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 208, 208); 
  }

.channel-head{
    cursor: pointer;
    svg{
        width: 1.5rem;
    }
}

.channel-guide{
    cursor: pointer;
}

.channel-head:hover{
    color: aqua;
}

.live-header{
    display: flex;
}

.player-div{
    width: 45%;
    min-width: 320px;
    margin-left: 5%;
}
.player-info{
    margin-left: 2.5%;
    width: 42.5%;
}

p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.channel-thumbnail{
    width: 6rem; 
    height: 3rem;
}


@media only screen and (max-width: 1142px) {
    .channel-thumbnail{
        width: 4rem; 
        height: 2rem;
    }
}
@media only screen and (max-width: 876px) {
    svg{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .live-header{
        display: inline;
        .player-div{
            width: 50%;
            margin:0 auto;
            margin-bottom: 2.5%;
        }
        .player-info{
            width: 75%;
            margin:0 auto;
            h4,h5,p{
                text-align: center;
            }
        }
    }
}
