

<div class="live-header mt-4 d-flex">
    <div class="player-div" style="margin-left:5%; width: 40%; height:40%;">
        <app-videojs [options]="{ fluid : true, aspectRatio : '16:9', autoplay: true, muted: false, controls: true , 
        sources: [{ src: currentChannel.Source, type: 'video/mp4' }]}"></app-videojs>
    </div>
    <div class="player-info ml-4 mt-2">
        <h2>CURRENT PROGRAM</h2>
        <h3>1:00 AM - 2:00PM</h3>
        <h6><i>CURRENT PROGRAM DESC</i></h6>
    </div>
</div>
<div class="live-content mt-4" style="margin-left:5%; width:90%;">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">DATE</th>
            <th scope="col">1:00</th>
            <th scope="col">2:00</th>
            <th scope="col">3:00</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let channel of channels">
            <th scope="row" style="width: 30%;" class="channel-head" [ngStyle]="{'color': (currentChannel==channel) ? 'aqua': ''}" (click)="changeChannel(channel)">
              <img src="{{channel.Thumbnail}}" alt="cc" style="width: 20%;">
              {{channel.Name}}</th>
            <td style="width: 20%;" class="channel-guide">Mark</td>
            <td style="width: 20%;" class="channel-guide">Otto</td>
            <td style="width: 20%;" class="channel-guide">@mdo</td>
          </tr>
        </tbody>
      </table>
</div>