
table, th, td {
    color:white;
    border: 1px solid aqua;
}

.channel-head{
    cursor: pointer;
}

.channel-head:hover{
    color: aqua;
}

.live-header{
    display: flex;
}

.player-div{
    width:45%; 
    margin-left:5%; 
    min-width: 450px;
}
.player-info{
    width:40%; 
    min-width: 450px; 
    margin-left:2.5%; 
    max-height: 200px;
}

@media (max-width:990px) {
    .live-header{
        display: inline;
    }
    .player-div{
        display: inline-block;
        position: relative;
        left: 45%; 
        transform: translateX(-50%);
    }
    .player-info{
        display: inline-block;
        position: relative;
        left: 47.5%; 
        transform: translateX(-50%);
    }
}